/* CSS for TextImageXBlock */

.xblock-render .textimagexblock-wrapper {
  position: relative !important;
}

.xblock-render .background {
  width: auto !important;
}

.textimagexblock-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.textimagexblock-wrapper .background {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 4em;
}

.textimagexblock-wrapper .header-text {
  font-weight: 400;
  color: white;
  margin: 1em 0;
  padding: 0;
  text-align: left;
  font-family: Lora;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 54px;
  font-size: 3.375rem;
  top: 60px;

}

.textimagexblock-wrapper .content-text {
  color: white;
  text-align: justify;
  margin: 2em 0;
  padding: 0;
  white-space: pre-wrap;
  font-family: "Hind", sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
}

.textimagexblock-wrapper a {
  background-color: rgba(201,74,6,.7);
  padding: 4px;
}

.textimagexblock-wrapper a:hover {
  background-color: rgba(201,74,6,1);
}

.textimage-studio textarea {
  width: 100%;
  height: 100px;
  line-height: 18px;
  font-size: 16px;
}
